.footer_sec{
    background-color: white;
    color: black;
    text-align: center;
    padding: 2rem;
}
.footer_a{
    text-decoration: none;
    color: black;
    margin:1rem;
    height: 3rem;
    width: 3rem;
}
.footer_text{
    font-size: 0.7rem;
    margin: 2rem auto 0 auto;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 0.02rem;
}
@media screen and (min-width:1600px){
    .footer_text{
        font-size: 1rem;
    }
   
}