nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 2rem 0.8rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: rgb(14, 14, 14);
    
  }
  .link {
    text-decoration: none;
    display: flex;
    color: white;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    margin-left: 1rem;
  }
  #logo{
    margin-left:3%;
  }
  img{
    height:90px;
    width:130px;
    margin-top:0.7rem;
  }
  .mobile-menu-icon {
    display: none;
  }
  .icons {
    display: flex;
    align-items: center;
  }
  .icon-tabler {
    margin-right: 5px;
  }
  .menu-items {
    display: flex;
    align-items:center;
    font-size: 1rem;
    margin-left:45%;
    font-family: 'Roboto', sans-serif;
  }
  .active{
    color:red;
  }

  @media screen and (min-width:1600px){
    #logo{
        margin-left: 4%;
        font-size: 2.5rem;
    }
    .link{
        margin-left: 4%;
    }
    .menu-items{
        font-size: 1.3rem;
        margin-left: 50%;
    }
  }
  
  @media screen and (max-width:1025px) {
    .menu-items,
    .signup-button,
    .github-corner {
      display: none;
    }
    .mobile-menu-icon {
      display: block;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-size:3vh;
      cursor: pointer;
      top: 0;
      right: 0;
    }
    #logo{
      margin-left:0rem;
    }
    img{
      width: 100px;
      height:60px;
      margin-top: 0;
    }
  }
  
  /* .github-corner {
    position: fixed;
    top: 0;
    z-index: 99999;
    right: 0px;
  } */